.App {
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

input[type=text],input[type=password], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.delete-button{
  border:none;
  cursor: pointer;
  background-color: red;
  border-radius: 4px;
  padding: 4px;
  color: white;
}

input[type=checkbox] {
  accent-color: #04AA6D;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type=submit], button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  cursor: pointer;
}

.heading{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.flex{
  display: flex;
  align-items: center;
}



.container{
  margin:25px auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}


.line_through{
  text-decoration: line-through;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
